@import 'tailwindcss';

@theme {
  --color-font-main: #201f1f;
  --color-font-inverted: #fbfbff;
  --color-surface-1: #fff0f0;
  --color-surface-2: #eaeef7;
  --color-border-1: #e0e0e0;
  --shadow-elevated-1: 2px 2px 6px 0px #543c9740;
  --accent-gradient: linear-gradient(
    165.54deg,
    #141333 -33.39%,
    #202261 15.89%,
    #543c97 55.84%,
    #6939a2 74.96%
  );
}

html,
body,
#root {
  height: 100dvh;
  font-family: 'Open Sans', sans-serif;
}
